@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* navbar section */
nav{
    max-width: 900px;
    height: 80px;
    margin: 0 auto;
}

label.logo{
    font-size: 35px;
    color: black;
    display: flex;
    height: 80px;
    align-items: center;
}
.logo-div{
    display: flex;
}
.logo-div h1{
    font-size: 36px;
    font-weight: 800;
}
.logo-div h1 span{
    color: #FF5400;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    float: right;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    
}
nav ul li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-transform: capitalize;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 400;
}
nav ul li a.active,a:hover{
    color: #FF5400;
}

#checkbtn{
    float:right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    display: none;
}
#check{
    display: none;
}
/* banner section */
.banner-section{
    max-width: 900px;
    height: 70vh;
    margin: 0 auto;
    text-align: center;
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}
.banner-section h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.banner-section p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding:0px 60px;
}
.banner-section-input{
    display: flex;
    justify-content: center;
}
.input-1,.input-2,.input-3{
    width: 130px;
    height: 50px;
    border-radius: 8px;
    border: none;
    padding: 0px 20px;
    margin-right: 10px;
}
.find-button{
    width: 130px;
    height: 50px;
    border-radius: 8px;
    background: #FF5400;
   color: white;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;

}















































@media screen and (max-width: 600px) {
    body{
        margin: 0px 10px;
    }
    /* navbar section */
    nav ul{
        display: none;
    }
    #checkbtn{
        display: block;
        margin-left: 430px;
    }
   .logo-div{
        margin-left: -460px;
   }
   /* banner-section */
   .banner-section h1{
    font-size: 32px;
   }
   .banner-section p{
    font-size: 14px;
   }
   .banner-section-input{
    flex-direction: column;
    gap: 10px;
   }
   .input-1,.input-2,.input-3{
    width: 300px;
   }
   .find-button{
    width: 300px;
    margin-left: -8px;
   }
}