@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* navbar section */
nav{
    max-width: 900px;
    height: 80px;
    margin: 0 auto;
}

label.logo{
    font-size: 35px;
    color: black;
    display: flex;
    height: 80px;
    align-items: center;
}
.logo-div{
    display: flex;
}
.logo-div h1{
    font-size: 36px;
    font-weight: 800;
}
.logo-div h1 span{
    color: #FF5400;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .unorder{
    float: right;
    list-style-type: none;
}
nav .unorder .list{
    display: inline-block;
    
}
nav .unorder .list .one{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-transform: capitalize;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 400;
}
nav .unorder .list .active,.one:hover{
    color: #FF5400;
    text-decoration: none;
}
.active{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-transform: capitalize;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 700;
}


#checkbtn{
    float:right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    display: none;
}
#check{
    display: none;
}
/* banner section */
.banner-section{
    max-width: 900px;
    height: 70vh;
    margin: 0 auto;
    text-align: center;
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}
.banner-section h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.banner-section p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding:0px 60px;
}
.banner-section-input{
    display: flex;
    justify-content: center;
}
.input-1,.input-2,.input-3{
    width: 130px;
    height: 50px;
    border-radius: 8px;
    border: none;
    padding: 0px 20px;
    margin-right: 10px;
}
.find-button{
    width: 130px;
    height: 50px;
    border-radius: 8px;
    background: #FF5400;
   color: white;
    border: none;
    font-size: 16px;
    font-weight: 700;

}

/* populer tur section */
.tur-section{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
    gap: 30px;
}
.tur-1st{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tur-ul{
    padding:0px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tur-section img{
    width: 500px;
}
.tur-button{
    width: 130px;
    height: 50px;
    border-radius: 8px;
    background: #FF5400;
   color: white;
    border: none;
    font-size: 20px;
    font-weight: 800;
}
.tur-1st h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.tur-1st p, .tur-ul li{
    color:rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

/* Destination section */
.Destination-section{
    max-width: 900px;
    margin: 60px auto;
}
.Destination-section h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.Destination-section p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 60px;
}
.first-div{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}
.first-div img{
    width: 100%;
    height: 200px;
}

.second-div{
    display: grid;
    grid-template-columns: 29% 40% 29%;
    gap: 10px;
}
.second-div img{
    width: 100%;
    height: 200px;
}

.third-div{
    display: grid;
    grid-template-columns: 40% 59%;
    gap: 10px;
}
.third-div img{
    width: 100%;
    height: 200px;
}
.container{
    position: relative;
}
.one{
   margin-top: -120px;
   margin-bottom: 100px;
}
.one h1{
    color: white;
    font-size: 28px;
    font-weight: 800;
}
.two{
    margin-top: -120px;
    margin-bottom: 100px;
}
.two h1{
    color: white;
    font-size: 28px;
    font-weight: 800;
}
.three{
    margin-top: -120px;
    margin-bottom: 100px;
}
.three h1{
    color: white;
    font-size: 28px;
    font-weight: 800;
}







































@media screen and (max-width: 600px) {
    body{
        padding: 11px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* navbar section */
    nav ul{
        display: none;
    }
    #checkbtn{
        display: block;
        margin-left: 430px;
    }
   .logo-div{
        margin-left: -460px;
   }
   /* banner-section */
   .banner-section{
    margin: 0px 20px;
   }
   .banner-section h1{
    font-size: 32px;
   }
   .banner-section p{
    font-size: 14px;
   }
   .banner-section-input{
    flex-direction: column;
    gap: 10px;
   }
   .input-1,.input-2,.input-3{
    width: 300px;
   }
   .find-button{
    width: 300px;
    margin-left: -8px;
   }

   /* tur section */
   .tur-section{
    flex-direction: column;
    align-items: center;
    margin: 60px 20px;
   }
   .tur-section img{
    width: 400px;
   }
   /* Destination-section */
   .first-div{
    grid-template-columns: auto;
    padding: 0px 30px;
   }
   .Destination-section h1{
    font-size: 30px;
   }
   .Destination-section p{
    font-size: 13px;
   }
   .second-div{
    grid-template-columns: auto;
    padding: 10px 30px;
   }
   .third-div{
    grid-template-columns: auto;
    padding: 0px 30px;
   }
}